.homePage__right {
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scrollbar-width: 0;
  width: 40%;
  height: 100%;
}

.home__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding-top: 4vh;
  background-color: rgba(255, 250, 250, 0.723);
}
.homePage__left {
  width: 60%;
  height: 100%;
}
.homePage__left h3{
  text-align: center;
}
.homePage__left_interest{
  max-height: 78vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.homePage__left_interest{
  padding-top: 300px;
}
.homePage__left div::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.Home_container {
  height: 100vh;
  display: flex;
}
