.rightPost {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* overflow-y: auto;
  max-height: 59vh;
  min-height: 80vh; */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scrollbar-width: 0;
}
