section {
  width: 100%;
}
.post-title-block {
  padding: 100px 0;
}
.post-title-block h1 {
  color: #fff;
  font-size: 85px;
  font-weight: bold;
  text-transform: capitalize;
}
.post-title-block li {
  font-size: 20px;
  color: #fff;
}
.lead {
  padding-top: 40px;
  font-size: 1.5rem;
  font-weight: 200;
  width: 90%;
  margin: auto;
}
.BlogStyle {
  padding-top: 100px;
  width: 60%;
  margin: auto;
}
.BlogDetail_wrapper {
  text-align: center;
}
.blog_body-content{
  word-wrap: break-word;
}
.comment{
  padding-top: 800px;
  padding-left: 100px;
}
