* {
  box-sizing: border-box;
}

.Notsignedin_container {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 60px;
  /* background-color: rgb(255, 255, 255); */
  font-size: 18px;
}
.left h3 {
  line-height: 1rem;
  font-weight: 500;
  transform: rotate(40);
}
.Notsignedin_container .left {
  margin-left: 10px;
  width: 60%;
}
.Notsignedin_container .right {
  width: 40%;
  max-width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Notsignedin_container .right a {
  text-decoration: none;
}
.nav-explore {
  color: white;
}
.nav-login {
  color: white;
}
.nav-signup {
  color: white;
}
